<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmango.arkshift"
    android:versionCode="2"
    android:versionName="2.0"
    android:installLocation="auto">

    <!-- from API16 Android 4.1.1 to API 23 Android 6.0-->
    <!--
    Warning:(10, 9) This `minSdkVersion` value (`16`) is not used; it is always overridden by the value specified in the Gradle build script (`16`)
    Warning:(11, 9) This `targetSdkVersion` value (`30`) is not used; it is always overridden by the value specified in the Gradle build script (`23`)
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="30" />
    -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_laucher_arkshift"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ArkShift"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity> 
        <activity
            android:name=".HelpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>        
    </application>

</manifest>